@model   MVc1.Models.ContactViewModel
@{
   // Layout = null;
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div> 
        <h2> Details</h2>

        <table>
            <tr><td>First Name</td><td><input type="text"  name="FName" value=@Model.FName >  </td></tr>
            <tr><td>Last Name</td><td><input type="text" name="FName"   value=@Model.LName > </td></tr>
        </table>
    </div>
</body>
</html>
